* { 
    margin: 0px; 
    padding: 0px; 
} 
header { 
    width: 100%;       
    background: rgb(244, 244, 244); 
    /* position: fixed;  */
}

nav #head{ 
    display: flex; 
    justify-content: space-around; 
    padding-top: 10px; 
}  
nav #head p { 
    font-size: 20px; 
    margin-left: 0px;
}
nav #head #log { 
    font-size: 35px;
} 
                    /* index body 1 */ 
.indbody1 { 
    width: 100%; 
    height: auto; 
}
.indbody1 .body1 {  
    height: auto; 
    margin-top: px;
    display: flex; 
    justify-content: space-around;
}

#left {  
    padding-top: 5vh; 
    /* border: 1px solid red;  */
    width: 40%; 
}  

#left h6 { 
    font-size: 20px; 
    color: rgb(250, 71, 71);
} 

#left h1 { 
    font-size: 90px; 
    line-height: 12vh; 
} 

#left p { 
    width: 75%; 
    margin: 20px 0px; 
}
#left h5 { 
    background: orange; 
    border-radius: 10%; 
    margin: 0px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; 
    width: 110px; 
    
} 
#left #play span{ 
    height: 40px; 
    width: 40px; 
    border-radius: 50%; 
    background-color: rgb(243, 115, 51);
    /* here is play button  i */
} 
#left #play span i { 
    font-size: 20px; 
    margin: 10px 15px; 
}
#left #play {  
    height: 40px; 
    width: 100%; 
    display: flex;
    align-items: center; 
    justify-items: center;
    gap: 20px; 
    /* here is find out more and play i */
} 

                    /* index body 2 */ 
.indbody2 { 
    width: 100%; 
    height: 40vh; 
    padding: 20px 0px; 
    background: rgb(244, 244, 244); 
}  
.indbody2 h6 { 
    font-size: 14px; 
    margin: auto; 
} 
.indbody2 h1 { 
    margin: auto; 
}
.indbody2 #title { 
    width: 100%;
    display: grid; 
    /* margin: auto;  */
    
}
.indbody2 #service { 
    margin-top: 25px;
    width: 100%; 
    height: auto; 
    display: flex; 
    justify-content: space-around; 
}
#service .one { 
    width: 180px; 
    height: 180px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}  
#service .one img { 
    width: 70px; 
    height: 70px; 
}

                    /* index body 3 */ 

.indbody3 { 
    width: 100%; 
    height: 58vh; 
    /* background: rgb(231, 231, 231);    */ 
} 
.indbody3 #destination { 
    display: grid; 
    padding: 15px 0px;
} 
.indbody3 #destination h5, .indbody3 #destination h1 { 
     margin: auto; 
}
.indbody3 #places { 
    display: flex;
    align-items: center;
    justify-content: space-around; 
} 

.indbody3 #places .place img  { 
    height: 220px; 
    width: 270px; 
    border-radius: 5%;
} 

.indbody3 #places .place { 
    height: 290px; 
    width: 270px; 
    border-radius: 5%; 
    background-color: white;
} 
.indbody3 #places .place h4, .indbody3 #places .place p { 
    margin: 5px 0px; 
}
                    /* index body 4 */ 
.indbody4 { 
    width: 100%; 
    height: 60vh; 
    background: rgb(244, 244, 244); 
    display: grid; 
} 
                                                                /* booking steps*/
.indbody4 .trip #booktrip { 

    width: 45%; 
    height: auto; 
    padding: 10px;
}
.indbody4 .trip #booktrip ul li {
    list-style: none;  
}  
.indbody4 .trip #booktrip h1 { 
    width: 70%; 
} 
.indbody4 .trip #booktrip h5 { 
    width: 70%; 
}
.indbody4 .trip #booktrip ul li .emoji img { 
    width: 40px; 
    height: 40px; 
    margin: auto; 
    border-radius: 50%; 
    padding: 0px 10px;
} 
.indbody4 .trip #booktrip ul li .emoji { 
    width: 70%; 
    display: flex;  
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px; 
} 
 
.indbody4 .trip #booktrip h1{
    padding: 15px 0px; 
    width: 70%; 
}
                                /* booking steps*/             /* booked greece*/
.indbody4 .trip #greece { 
    width: 350px;  
    height: 300px; 
    display: grid; 
    align-items: center; 
    justify-content: center;
    border-radius: 10%; 
    background: rgb(223, 243, 251);
    /* margin: auto;  */
}

.indbody4 .trip #greece img{    
    width: 300px; 
    height: 150px;   
} 
                    /*  greece image      booked greece*/
.indbody4 .trip { 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin: 20px; 
}
                                /* rome trip */
.indbody4 #rome { 
    padding: 10px; 
    width: 180px; 
    height: 90px; 
    border-radius: 20%; 
    position: absolute; 
    right: 40px;
    top: 1610px;
    background: white;

    /* bottom: 80%;  */
    /* border: 1px solid red;  */
}
.indbody4 #rome .rometrip {     
    display: flex; 
    justify-content: center; 
    gap: 10px;
    margin-bottom: 20px; 
} 
.indbody4 #rome .rometrip img { 
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
} 
 #rome .rometrip #ongoing { 
    line-height: 25px; 
} 
#rome .complete { 
    border: 1px solid blue; 
    background: blue; 
    width: 40%; 
    height: 2px; 
}

.indbody5 { 
    width: 100%; 
    height: 33vh; 
} 
.indbody5 #body5 { 
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    padding: 40px 0px; 
}
#body5 .testi { 
    width: 300px;
    height: 170px;
} 
#body5 .testi h2 { 
    font-size: 35px; 
}
#body5 .comment { 
    width: 500px;
    height: 170px; 
    border-radius: 5%; 
    background-color: aliceblue;
}
#body5 .comment img { 
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
}
#body5 .comment .mike { 
    margin-top: 5px; 
    margin-left: 50px; 
    
}
#body5 .comment .mike div { 
    margin: 10px 0px; 
}

.indbody6 { 
    width: 100%; 
    height: 35vh; 
    background: rgb(244, 244, 244); 
} 
.indbody6 .companion { 
    height: 30vh; 
    width: auto; 
    margin: 20px; 
}  
.indbody6 .companion h2 { 
    padding: 10px; 
} 
.indbody6 .companion h2 p { 
    font-size: 15px; 
    color: blue;
}
.indbody6 .companion #partner { 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-left: 20%;
}
.indbody6 .companion #partner img { 
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin: 10px 0px ; 
}







